
:global {

  .page-header {
    width: 100vw;
    z-index: @header-zIndex;
    position: fixed;
    padding: 0 48px;
    text-align: right;
    background-color: @header-background-color;
  }

  .header-container {
    max-width: @max-width - 48px * 2;
    margin: 0 auto;
  }

  .header-logo {
    height: 0;
    margin: 0;
    float: left;
    line-height: @header-height;
    img {
      height: @header-height - 16px;
    }
  }

  .header-color-logo-image {
    display: none;
  }

  @media only screen and (max-width: 767px) {
    .page-header {
      padding: 0;
      text-align: left;
    }
    .header-logo {
      height: 0;
      left: 16px;
      position: absolute;
      line-height: @header-height - 16px;
      img {
        height: @header-height - 24px;
      }
    }
  }
}

// 大屏菜单
.link {
  color: @light-7;
  transition: color @anim-speed-4 @easeOutQuart;
  display: inline-block;
  user-select: none;
  &:hover {
    color: @light-10;
  }
  &:focus {
    text-decoration: none;
  }
}

.menu {
  line-height: @header-height;
  .link {
    padding: 0 16px;
  }
}

.light {
  background-color: @light-10;
  .link {
    color: @dark-7;
    &:hover {
      color: @dark-10;
    }
  }
}

.transparent {
  background-color: transparent;
  .menu, :global(.header-logo) {
    height: 0;
  }
}

:global(.page-header-hold) {
  .menu {
    height: @header-height;
  }
}

:global(.page-header-dark .page-header) {
  background-color: @header-background-color;
}

:global(.page-header-light .page-header) {
  background-color: @light-10;
  .link {
    color: @dark-7;
    &:hover {
      color: @dark-10;
    }
  }
}

:global(.page-header-logo-light) {
  :global(.header-color-logo-image) {
    display: none;
  }
  :global(.header-light-logo-image) {
    display: inline;
  }
}

:global(.page-header-logo-color) {
  :global(.header-color-logo-image) {
    display: inline;
  }
  :global(.header-light-logo-image) {
    display: none;
  }
}

// :global(.header-dark) .page-header {

// }

// 小屏菜单
.phone-menu {
  :global {
    .ant-menu-root {
      padding-top: 44px;
    }
    .ant-menu-root li:last-child {
      margin-bottom: 8px;
    }
    .ant-menu-inline .ant-menu-item:not(:last-child) {
      margin-bottom: 4px;
    }
  };
}

.phone-menu-container {
  opacity: 0;
  overflow: hidden;
  transition:
    opacity @anim-speed-2,
    height @anim-speed-2;
}

// 菜单图标
.mobile-menu {
  width: 16px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 100;
  em {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: 4px;
    transition:
      transform @anim-speed-2 @ease-in-out,
      opacity @anim-speed-2 @ease-in-out;
  }
  :first-child {
    margin-top: 0;
  }
}

.open {
  .mobile-menu em {
    &:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
  .phone-menu-container {
    opacity: 1;
  }
}
