
:global {

  .header {
    width: 100vw;
    z-index: @header-zIndex;
    position: fixed;
    padding: 0 48px;
    text-align: right;
    background-color: @header-background-color;
    &.tranparent {
      background-color: transparent;
    }
  }

  .header-container {
    max-width: @max-width - 48px * 2;
    margin: 0 auto;
  }

  .header-logo {
    float: left;
    height: 0;
    line-height: @header-height;
    img {
      height: @header-height - 16px;
    }
  }

  .experience {
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    color: @light-9;
    cursor: pointer;
    display: inline;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    box-shadow: @shadow-down-dark;
  }


  @media only screen and (max-width: 767px) {
    .header {
      padding: 0;
      text-align: left;
    }
    .header-logo {
      position: absolute;
      left: 24px;
      top: 8px;
      height: 48px;
      min-width: 48px;
    }
  }
}

// 大屏菜单
.link {
  color: @light-7;
  transition: color @anim-speed-3;
  display: inline-block;
  user-select: none;
  &:hover {
    color: @light-10;
  }
  &:focus {
    text-decoration: none;
  }
}

.menu {
  line-height: @header-height;
  .link {
    padding: 0 16px;
  }
}

.sub-menu {
  z-index: @header-zIndex;
  :global {
    .ant-popover-inner {
      overflow: hidden;
      background-color: @dark-menu-background-color;
    }
    .ant-popover-arrow {
      border-color: @dark-menu-background-color !important;
    }
    .ant-popover-inner-content {
      color: @dark-menu-color;
      padding: 8px;
    }
  }
}

.link-item {
  color: @light-7;
  user-select: none;
  border-radius: 3px;
  padding: 8px;
  transition:
    background-color @anim-speed-4,
    color @anim-speed-4;
  &:hover {
    background-color: @light-2;
    color: @light-10;
  }
  &:focus {
    text-decoration: none;
  }
}

.sub-menu-col-2 {
  :global {
    .ant-popover-inner-content {
      width: 316px;
    }
  }
  .link-item {
    display: inline-block;
    width: 150px;
    height: 64px;
  }
}

.sub-menu-col-3 {
  :global {
    .ant-popover-inner-content {
      width: 466px;
    }
  }
  .link-item {
    display: inline-block;
    width: 150px;
    height: 64px;
  }
}


// 小屏菜单
.phone-menu {
  :global {
    .ant-menu-root {
      padding-top: 44px;
    }
    .ant-menu-root li:last-child {
      margin-bottom: 8px;
    }
    .ant-menu-inline .ant-menu-item:not(:last-child) {
      margin-bottom: 4px;
    }
  };
}

.phone-menu-container {
  opacity: 0;
  overflow: hidden;
  transition:
    opacity @anim-speed-2,
    height @anim-speed-2;
}

// 菜单图标
.mobile-menu {
  width: 16px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 100;
  em {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: 4px;
    transition:
      transform @anim-speed-2 @ease-in-out,
      opacity @anim-speed-2 @ease-in-out;
  }
  :first-child {
    margin-top: 0;
  }
}

.open {
  .mobile-menu em {
    &:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
  .phone-menu-container {
    opacity: 1;
  }
}
