
.beian {
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 11;
  a {
    font-size: 12px;
    color: @light-8;
    transition: color @anim-speed-2;
    &:hover {
      color: @light-10;
      text-decoration: underline;
    }
  }
}
