
.scene {
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  // background-color: @blue-6;
  :global(.paper) {
    height: 0;
    // height: 100%;
    // position: absolute;
    // left: 0;
    // top: 0;
  }
}

.paper-background {
  margin-top: -30px;
  margin-left: -30px;
  height: calc(100vh + 60px);
  width: calc(100vw + 60px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.content {
  width: 60%;
  height: 100%;
  position: relative;
}

.toptic {
  top: 50%;
  left: 50%;
  max-width: calc(100% - 60px);
  transform: translate(-50%, -50%);
  position: absolute;
}

.toptic-title {
  white-space: nowrap;
  color: @light-10;
  font-size: 44px;
}

.toptic-desc {
  font-size: 16px;
  color: @light-8;
  line-height: 1.8;
}

.toptic-action {
  
}
