
.anchor {
  left: 0;
  position: fixed;
  top: @header-height;
  z-index: @anchor-zIndex;
  background-color: @anchor-background-color;
  box-shadow: @shadow-down;
  height: @anchor-height;
  line-height: @anchor-height;
  text-align: right;
  width: 100vw;
}

.trigger {
  color: @dark-5;
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  &::before {
    opacity: 0;
    content: "#";
    position: relative;
    margin-right: 4px;
    color: @anchor-color;
    font-weight: bold;
    transform: scale(1);
    transition: opacity @anim-speed-4;
  }
  &:last-child {
    margin-right: 56px;
  }
  &:hover {
    color: @dark-9;
  }
  &:hover::before {
    opacity: 1;
  }
  &:focus {
    text-decoration: none;
  }
}

.link {
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:focus {
    text-decoration: none;
  }
  &::after {
    opacity: 0;
    content: '#';
    display: inline-block;
    color: @anchor-color;
    user-select: none;
    margin-left: 8px;
    transition: opacity @anim-speed-2 @ease-in-out;
  }
}
h1, h2, h3, h4, h5, h6 {
  &:hover .link::after {
    opacity: 1;
  }
}
