
.track {
  // height: 100%;
  width: 3px;
  position: fixed;
  background-color: @light-3;
  z-index: 11;
  right: 0;
  top: 0;
  overflow: hidden;
  cursor: pointer;
}

.block {
  width: 100%;
}

.thumb {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  transition: top @anim-speed-3 @easeOutCubic;
  background-color: @light-6;
  border-radius: 3px;
  z-index: -1;
}
