
// 页面没有使用 antd 组件时可能会缺失基础样式所以这手动引入
// 页面有 antd 组件时会自动引入 index.less 为了防止重复引入添加参数 reference
@import (reference) "~antd/lib/style/index.less";


:global {

  html {
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

  body {
    overflow-x: hidden;
  }

  #__next, #__next > .page-basic {
    height: 100%;
  }

  .page-content {
    max-width: 980px;
    padding: 0 24px;
    margin: 0 auto;
  }

  .page-section {
    position: relative;
    margin-bottom: 64px;
    font-size: 16px;
    h2 {
      color: @dark-10;
      font-size: 2.5em;
      text-align: center;
    }
    strong {
      color: @dark-9;
    }
    P {
      color: @dark-8;
      font-weight: 400;
      min-height: 1.8em;
      line-height: 1.8em;
      white-space: normal;
      letter-spacing: .05em;
      text-indent: 2em;
    }
  }

}

