
// 页面没有使用 antd 组件时可能会缺失基础样式所以这手动引入
// 页面有 antd 组件时会自动引入 index.less 为了防止重复引入添加参数 reference
@import (reference) "~antd/lib/style/index.less";


:global {

  html {
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

  body {
    overflow-x: hidden;
  }

  #__next, #__next > .page-basic {
    height: 100%;
  }

  .page-view {
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .page-view-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-position: top center;
    background-size: cover;
  }

  .page-anchor {
    left: 0;
    position: fixed;
    top: @header-height;
    z-index: @anchor-zIndex;
    transition:
      color @anim-speed-3,
      background-color @anim-speed-3;
    width: 100vw;
  }

  .page-scrolled .page-anchor {
    background-color: @anchor-background-color;
  }

  .page-content {
    max-width: @page-width;
    padding: 0 24px;
    margin: 0 auto;
  }

  .page-block,
  .page-block-image,
  .page-section {
    position: relative;
    margin-bottom: 64px;
    font-size: 16px;
    strong {
      color: @dark-9;
    }
    P {
      color: @dark-8;
      font-weight: 400;
      min-height: 1.8em;
      line-height: 1.8em;
      white-space: normal;
      letter-spacing: .05em;
    }
  }

  .page-banner {
    padding-top: @header-height;
    min-height: 80px;
    margin-bottom: 0;
  }

  .page-top-banner {
    min-height: 80px;
    margin-bottom: 0;
  }

  .page-banner-title {
    display: inline-block;
    color: @light-10;
    font-size: 48px;
    margin-bottom: 0;
    position: relative;
    top: 150px;
    left: 33%;
    * {
      color: inherit;
    }
  }

  .page-banner-images {
    min-height: 400px;
    background-position: top center;
    background-size: cover;
    &.dark {
      z-index: 1;
      position: relative;
      &::before {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: @dark-6;
        z-index: -1;
      }
    }
  }

  .page-block {
    margin-bottom: 0;
    &.even {
      background-color: @dark-1;
    }
    &.odd {
      background-color: @light-10;
    }
  }

  .page-block-plain {
    padding: 0;
  }

  .page-block-image {
    margin-bottom: 0;
  }

}

