
// 页面没有使用 antd 组件时可能会缺失基础样式所以这手动引入
// 页面有 antd 组件时会自动引入 index.less 为了防止重复引入添加参数 reference
@import (reference) "~antd/lib/style/index.less";


:global {

  html {
    quotes: "“" "”";
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

  body {
    overflow-x: hidden;
  }

  #__next, #__next > .page-basic {
    height: 100%;
  }

  .no-events {
    user-drag: none;
    user-select: none;
    touch-action: none;
    pointer-events: none;
    tap-highlight-color: rgba(0, 0, 0, 0);
  }

  // 文本内容区域
  .page-section,
  .page-content,
  .page-section-dark {
    font-size: 16px;
    strong {
      color: @dark-9;
    }
    P {
      color: @dark-8;
      font-weight: 400;
      line-height: 1.5em;
      white-space: normal;
      letter-spacing: .05em;
    }
  }

  .page-section,
  .page-section-dark {
    padding: 32px 0;
    font-size: 16px;
  }

  .page-section-dark {
    h1, h2, h3, h4, h5, h6 {
      color: @light-10;
    }
    strong {
      color: @light-9;
    }
    P {
      color: @light-8;
    }
  }

  // 页面宽度限制
  .page-content {
    max-width: @page-width;
    padding: 0 24px;
    margin: 0 auto;
  }

  // hardware
  .page-view {
    height: 100vh;
    overflow: hidden;
  }

  .page-view-bg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // 锚点
  .page-anchor {
    left: 0;
    position: fixed;
    top: @header-height;
    z-index: @anchor-zIndex;
    transition:
      color @anim-speed-3,
      background-color @anim-speed-3;
    width: 100vw;
  }

  .page-scrolled .page-anchor {
    background-color: @anchor-background-color;
  }

  // .page-banner {
  //   padding-top: @header-height;
  //   min-height: 80px;
  //   margin-bottom: 0;
  // }

  // @media only screen and (max-width: 767px) {
  //   .page-banner {
  //     padding-top: @header-height - 16px;
  //     min-height: 80px;
  //     margin-bottom: 0;
  //   }
  // }
}

