
.view {
  :global(.page-view) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.solutions {
  top: 50%;
  left: 50%;
  width: 70%;
  height: 90%;
  display: flex;
  position: absolute;
  flex-direction: column;
  max-width: @page-width-lg;
  max-height: 900px;
  transform: translate(-50%, -50%);
  h1 {
    display: block;
    color: @light-6;
    font-size: 48px;
    white-space: nowrap;
    text-shadow: 2px 4px 10px @dark-6;
    span {
      font-size: 32px;
      margin-left: 32px;
    }
  }
}

.solutions-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

.solution-block {
  width: 20%;
  height: 90%;
  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transform: scale(1);
  box-shadow: @shadow-down-sm;
  transition:
    transform @anim-speed-5,
    box-shadow @anim-speed-5;
  &:nth-child(odd) {
    margin-top: 48px;
  }
  &::after {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: @dark-5;
    transition: opacity @anim-speed-4;
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: @shadow-down-lg;
  }
  &:hover::after {
    opacity: 0.5;
  }
  h2 {
    z-index: 1;
    position: relative;
    color: @light-7;
    font-size: 48px;
    line-height: 1.2em;
    margin-left: 48px;
    margin-top: 32px;
  }
}

.block {
  padding: 180px 0;
  position: relative;
  overflow: auto;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.block-content {
  background-color: @light-9;
  :global(.page-content) {
    padding-left: 100px;
  }
}


.scene-block {
  min-height: 300px;
  font-size: 14px;
  margin-bottom: 100px;
}

.scene-title {
  h2 {
    color: @dark-8;
    font-size: 3em;
    line-height: 1.2em;
  }
  background-position: left bottom;
  background-repeat: no-repeat;
}

.scene-icon {
  padding: 8px;
  text-align: center;
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
}

.scene-svg {
  font-size: 80px;
  margin-bottom: 8px;
}

.scene-name {
}

.scene-content {
}

.icon-back {
  margin-top: 8px;
  margin-left: -90px;
  position: absolute;
  font-size: 24px;
  display: inline-block;
  margin-right: 16px;
  color: @dark-6;
  transition: color @anim-speed-3;
  cursor: pointer;
  &:hover {
    color: @dark-8;
  }
  svg {
    transform: rotate(90deg);
  }
}
