
.page-title {
  text-align: center;
  font-size: 3.5em;
  padding: 1em;
}

.scene-block {
  min-height: 300px;
  font-size: 14px;
  display: flex;
  margin-bottom: 100px;
  box-shadow: 0 12px 20px #d8e0e6;
}

.scene-title {
  h2 {
    color: @dark-8;
    font-size: 3em;
    line-height: 1.2em;
    text-align: center;
  }
  background-color: @dark-1;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 24px;
  width: 200px;
  flex: 0 0 auto;
}

.scene-icon {
  padding: 8px;
  text-align: center;
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
}

.scene-svg {
  font-size: 100px;
  margin-bottom: 8px;
}

.scene-name {
}

.scene-content {
  background-color: @light-10;
  flex: 1 1 auto;
  padding: 32px;
}
