
.view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.scene-banner,
.scene-banner-1,
.scene-banner-2,
.scene-banner-3,
.scene-banner-4 {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.scene-banner {
  background-image: url(../../assets/images/scene/banner.jpg);
}

.scene-banner-1 {
  background-image: url(../../assets/images/scene/banner-1.jpg);
}

.scene-banner-2 {
  background-image: url(../../assets/images/scene/banner-2.jpg);
}

.scene-banner-3 {
  background-image: url(../../assets/images/scene/banner-3.jpg);
}

.scene-banner-4 {
  background-image: url(../../assets/images/scene/banner-4.jpg);
}

.solutions {
  top: 45%;
  left: 50%;
  width: 70%;
  height: 80%;
  display: flex;
  position: absolute;
  flex-direction: column;
  max-width: @page-width-lg;
  max-height: 900px;
  transform: translate(-50%, -50%);
  h1 {
    height: 80px;
    display: block;
    color: @light-9;
    font-size: 40px;
    line-height: 100px;
    white-space: nowrap;
    text-shadow: 2px 4px 10px @dark-6;
    span {
      font-size: 32px;
      margin-left: 32px;
    }
  }
}

.solutions-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

.solution-block {
  width: 22%;
  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: @shadow-down-sm;
  transition:
    transform @anim-speed-3,
    box-shadow @anim-speed-3;
  &:nth-child(even) {
    transform: perspective(800px) translateZ(0);
  }
  &:nth-child(odd) {
    transform: perspective(800px) translateZ(0) translateY(48px);
  }
  &::after {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: @dark-5;
    transition: opacity @anim-speed-3;
  }
  &:hover {
    z-index: 1;
    box-shadow: @shadow-down-lg;
    &:nth-child(even) {
      transform: perspective(800px) translateZ(80px);
    }
    &:nth-child(odd) {
      transform: perspective(800px) translateZ(80px) translateY(48px);
    }
  }
  &:hover::after {
    opacity: 0.001;
  }
}

.solution-block-container {
  will-change: width, height, background, opacity, transform;
  position: absolute;
  opacity: 0.999;
  z-index: 2;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.solution-block,
.solution-block-container {
  overflow: hidden;
}

.image-bg {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border: none;
}

.solution-block-title {
  color: @light-9;
  font-size: 40px;
  line-height: 1.2em;
  margin-left: 48px;
  margin-top: 32px;
  opacity: 0.999;
  transition: opacity @anim-speed-3;
  z-index: 1;
  width: 1em;
  position: absolute;
  left: 0;
  top: 0;
  &.transparent {
    opacity: 0.001;
  }
  &.hidden {
    display: none;
  }
  &.animating {
    visibility: visible;
  }
}


@media only screen and (max-width: 1200px) {
  .solutions {
    width: 80%;
    h1 {
      font-size: 32px;
    }
  }
  .solution-block {
    width: 25%;
    h2 {
      font-size: 32px;
    }
  }
}

@media only screen and (max-width: 992px) {
  // .solution-block {
  //   font-size: 32px;
  // }
}

.block {
  width: 100vw;
  padding: 180px 0;
  position: relative;
  overflow: auto;
  // background-position: top center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.block-banner-1 {
  background-image: url(../../assets/images/scene/banner-1.jpg);
}

.block-banner-2 {
  background-image: url(../../assets/images/scene/banner-2.jpg);
}

.block-banner-3 {
  background-image: url(../../assets/images/scene/banner-3.jpg);
}

.block-banner-4 {
  background-image: url(../../assets/images/scene/banner-4.jpg);
}

.block-content {
  flex: 1 1 auto;
  background-color: @light-9;
  :global(.page-content) {
    position: relative;
  }
}


.scene-block {
  min-height: 300px;
  font-size: 14px;
  margin-bottom: 100px;
}

.scene-title {
  h2 {
    color: @dark-8;
    font-size: 3em;
    line-height: 1.2em;
  }
  background-position: left bottom;
  background-repeat: no-repeat;
}

.scene-icon {
  padding: 8px;
  text-align: center;
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
}

.scene-svg {
  font-size: 80px;
  margin-bottom: 8px;
}

.scene-name {
}

.scene-content {
}

.icon-back {
  top: 16px;
  right: 16px;
  position: absolute;
  font-size: 18px;
  display: inline-block;
  margin-right: 16px;
  color: @dark-6;
  transition: color @anim-speed-3;
  cursor: pointer;
  &:hover {
    color: @dark-8;
  }
  svg {
    transform: rotate(90deg);
  }
}
