
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@import (reference) "~antd/lib/style/themes/default.less";
@import (reference) "~antd/lib/style/mixins/index.less";
@import (reference) "./easings/index.less";

@gray-1: #ffffff;
@gray-2: #fafafa;
@gray-3: #f5f5f5;
@gray-4: #e8e8e8;
@gray-5: #d9d9d9;
@gray-6: #bfbfbf;
@gray-7: #8c8c8c;
@gray-8: #595959;
@gray-9: #262626;
@gray-10: #000000;

// 暗黑
@dark-1: rgba(0, 0, 0, .05);
@dark-2: rgba(0, 0, 0, .15);
@dark-3: rgba(0, 0, 0, .25);
@dark-4: rgba(0, 0, 0, .35);
@dark-5: rgba(0, 0, 0, .45);
@dark-6: rgba(0, 0, 0, .55);
@dark-7: rgba(0, 0, 0, .65);
@dark-8: rgba(0, 0, 0, .75);
@dark-9: rgba(0, 0, 0, .85);
@dark-10: rgba(0, 0, 0, 1);

// 亮白
@light-1: rgba(255, 255, 255, .05);
@light-2: rgba(255, 255, 255, .15);
@light-3: rgba(255, 255, 255, .25);
@light-4: rgba(255, 255, 255, .35);
@light-5: rgba(255, 255, 255, .45);
@light-6: rgba(255, 255, 255, .55);
@light-7: rgba(255, 255, 255, .65);
@light-8: rgba(255, 255, 255, .75);
@light-9: rgba(255, 255, 255, .85);
@light-10: rgba(255, 255, 255, 1);


@mask-color: #001529;
@footer-color: @light-8;
@footer-link-color: @light-6;
@footer-link-hover-color: @light-10;
@footer-background-color: @dark-10;
@header-background-color: #001529;
@anchor-background-color: @light-10;
@anchor-color: #1890ff;


@dark-menu-color: @light-7;
@dark-menu-background-color: @header-background-color;


@anim-speed-1: 200ms;
@anim-speed-2: 375ms;
@anim-speed-3: 500ms;
@anim-speed-4: 800ms;
@anim-speed-5: 1200ms;


@page-width: 980px;
@page-width-md: 1200px;
@page-width-lg: 1440px;
@max-width: 1920px; // 2560px
@header-height: 64px;
@header-phone-height: 48px;
@anchor-height: 48px;


// z-index
@header-zIndex: 1100;
@anchor-zIndex: @header-zIndex - 10;

// shadow
@shadow-down: 0 2px 8px rgba(0, 0, 0, 0.08);
@shadow-down-dark: 0 2px 8px rgba(0, 0, 0, 0.2);
@shadow-down-sm: 4px 6px 10px rgba(0, 0, 0, 0.1);
@shadow-down-lg: 8px 12px 20px rgba(0, 0, 0, 0.3);


@main-color: #fa8c16;
@main-background-color: #001529;
@main-light-background-color: #f1f3ff;

// .function {
//   .foo(@x) {
//     return: @x * 2;
//   }
// }