
.view {

}

.hardware {
  display: flex;
}

.list {
  max-width: @page-width-lg;
  padding-top: @header-height + 48px;
  margin: 0 auto;
  h1 {
    text-shadow: 2px 4px 10px @dark-6;
    text-align: center;
    color: @light-10;
    font-size: 40px;
    span {
      font-size: 24px;
      margin-left: 24px;
    }
  }
}

.prod {
  display: flex;
  font-size: 14px;
  min-height: 400px;
  padding: 72px 0;
}

.prod-pic {
  width: 326px;
  flex: 0 0 auto;
  padding-right: 32px;
  img {
    width: 80%;
  }
}

.prod-desc {
  flex: 1 1 auto;
}
