
.hardware {
  display: flex;
}

.prod {
  display: flex;
  font-size: 14px;
  min-height: 400px;
  padding: 72px 0;
}

.prod-pic {
  width: 326px;
  flex: 0 0 auto;
  padding-right: 32px;
  img {
    width: 80%;
  }
}

.prod-desc {
  flex: 1 1 auto;
}
