
.container {
  // touch-action: auto;
  // pointer-events: all;
}

.pro {
  margin: 48px auto;
  padding: 64px 0;
  max-width: @page-width-lg;
  background-color: @dark-1;
  :global {
    .page-content {
      display: flex;
    }
  }
}

.pro-image {
  flex: 0 0 auto;
  width: 250px;
}

.pro-info {
  flex: 1 1 auto;
  padding: 24px 24px 24px 64px;
}
