
.about-banner {
  height: 600px;
  display: flex;
  overflow: hidden;
  background-color: #1a1921;
}

.about-banner-content {
  margin: auto;
  position: relative;
  z-index: 1;
}

.about-banner-title {
  color: @light-10;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 1em;
}

.about-banner-1,
.about-banner-2 {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-banner-1 {
  background-image: url(../../assets/images/about/banner-1.jpg);
}

.about-banner-2 {
  background-image: url(../../assets/images/about/banner-2.jpg);
}

.about-banner-3 {
  background-image: url(../../assets/images/about/banner-3.jpg);
}

.about-block {
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 80px 0;
  :global(.page-content) {
    position: relative;
    z-index: 1;
  }
}

.about-block-image {
  top: 50%;
  width: 100%;
  position: absolute;
  min-height: 100% !important;
  transform: translateY(-50%);
}

.about-block-title {
  font-size: 2.5em;
}

.about-block-dark-title {
  .about-block-title();
  color: @light-10;
}

.about-block-core-3 {
  display: flex;
  & > div {
    margin: 0 24px;
    flex: 0 0 auto;
    width: calc(33% - 48px);
    height: 300px;
  }
}

.about-block-core-list {
  text-align: left;
  list-style: none;
  padding: 0;
}

.about-block-advantage {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  max-width: @page-width * 0.8;
  margin: 48px auto;
  padding: ( 30% / sqrt( 3 ) * 2 ) / 8 + 0.5% 0;
  li {
    width: 30%;
    font-size: 2em;
    color: @light-10;
    padding-bottom: 30% / sqrt( 3 ) * 2;
    transform: scale(0.95);
    position: relative;
    flex: 0 1 auto;
    margin: -( 30% / sqrt( 3 ) * 2 ) / 8 + 0.5% 0.5%;
    &:before, &:after {
      content: '';
    }
    &:before, &:after, .ad-1, .ad-2, .ad-3, .ad-4, .ad-5 {
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:before {
      transform: scale(1.05);
      background-color: @light-10;
    }
    &:after {
      opacity: 0.5;
      transform: scale(1);
      background-color: @dark-10;
      transition: opacity @anim-speed-2;
    }
    &:hover:after {
      opacity: 0.001;
    }
    .ad-1 {
      background-image: url(../../assets/images/about/ad-1.jpg);
    }
    .ad-2 {
      background-image: url(../../assets/images/about/ad-2.jpg);
    }
    .ad-3 {
      background-image: url(../../assets/images/about/ad-3.jpg);
    }
    .ad-4 {
      background-image: url(../../assets/images/about/ad-4.jpg);
    }
    .ad-5 {
      background-image: url(../../assets/images/about/ad-5.jpg);
    }
    > div:last-child {
      top: 50%;
      left: 0;
      width: 100%;
      position: absolute;
      text-align: center;
      transform:  translateY(-50%);
    }
  }
}

.dark {
  position: relative;
  &::before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: @dark-6;
    z-index: -1;
  }
}

@media only screen and (max-width: 767px) {

}
