
.container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.parallax {
  touch-action: none;
  pointer-events: none;
  & > div {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    touch-action: none;
    pointer-events: none;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// .anchorTop {
//   width: 0;
//   height: 0;
//   z-index: -1;
//   position: absolute;
//   left: 0;
//   top: 0;
// }

// .anchorBottom {
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }
